name: Tests

on:
  push:
    branches:
      - develop
  pull_request:

jobs:
  test_apple:
    uses: ./.github/workflows/test_apple.yml

  test_windows:
    uses: ./.github/workflows/test_windows.yml